:root{ 
    --ff-primary: Verdana, Geneva, Tahoma, sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-300: .8125rem;
    --fs-400: 1rem;
    --fs-450: 1.5rem; 
    --fs-600: 1.875rem;
    --fs-700: 2.5rem;

    --fs-button: var(--fs-400);
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    list-style: none;
    text-decoration: none;
}

html, body{
    height: 100%;
    font-family: var(--ff-primary);
}

.button {
    background-color: transparent;
    font-size: var(--fs-button);
    font-weight: var(--fw-bold);
    padding: 1rem 2.5rem;
    border: 2px solid springgreen;
    border-radius: 100vmax;
    color: springgreen;
}

.container{
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.logo {
    font-size: var(--fs-450);
    font-weight: var(--fw-bold);
}

.primary-header{
    height: 80px;
    width: 100%;
    color: black;
}

.primary-header a{
    color: black;
}

.primary-header-inner{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.primary-navigation ul{
    display: flex;    
    align-items: center;
}

.primary-navigation ul li{
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    margin: 8px;
}

.primary-navigation ul button{
    font-weight: var(--fw-bold);
    margin-left: 16px;
}



/* HERO SECTION */

.hero {
    height: calc(100% - 80px);
}
.hero-inner{
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-inner-right{
    width: 425px;
    height: 50%;
    font-size: 18px;
    border: 2px solid springgreen;
}

.hero-inner-left{
}

.hero-paragraph-1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 32px;
}

.hero-paragraph-2 {
    margin-bottom: 32px;
}



/* services Styles */

/* services icon */

.services-ico{
    -webkit-text-size-adjust: 100%;
    font-family: 'Gtamerica rg',sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #0b0b0c;
    -webkit-box-direction: normal;
    text-align: center;
    width: 50px;
    aspect-ratio: auto 50 / 63;
    height: 63px;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
}

/* boxes containing content */
.flex-1col{
    -webkit-text-size-adjust: 100%;
    font-family: 'Gtamerica rg',sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #0b0b0c;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    text-decoration: none;
    justify-items: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}

.paragraph{
    -webkit-text-size-adjust: 100%;
    font-family: 'Gtamerica rg',sans-serif;
    line-height: 28px;
    font-weight: 400;
    color: black;
    -webkit-box-direction: normal;
    text-align: center;
    box-sizing: border-box;
    font-size: 24px;
}

.services-link-wr{
    -webkit-text-size-adjust: 100%;
    font-family: 'Gtamerica rg',sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    box-sizing: border-box;
    background-color: transparent;
    max-width: 100%;
    display: inline-block;
    position: relative;
    height: 100%;
    padding: 32px 6%;
    justify-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    border: 1px solid black;
    color: #0b0b0c;
    text-align: center;
    text-decoration: none;
    padding-bottom: 42px;
    box-shadow: 5px 10px black;
}

._3col-grid{
    -webkit-text-size-adjust: 100%;
    font-family: 'Gtamerica rg',sans-serif;
    color: #333;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    padding-top: 100px;
    -webkit-box-align: start;
    align-items: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    padding: 100px 0px 0px;
}

#techused{
    width: fit-content;
    height: 70px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
}

.technology-logo{
    -webkit-text-size-adjust: 100%;
    font-family: 'Gtamerica rg',sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    color: #333;
    aspect-ratio: auto 178 / 45;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 150px;
    padding: 20px;
    filter: grayscale(100%);
    object-fit: scale-down;
    cursor: default;
}

.technology-grid-2col{
    -webkit-text-size-adjust: 100%;
    font-family: 'Gtamerica rg',sans-serif;
    color: #333;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto auto;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    justify-content: center;
    justify-items: stretch;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-content: center;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 40px;
}

/* techstack paragraph */
#techstack{
    text-align: center;
    justify-content: center;
    font-size: 40px;
    

}